<footer class="page-footer" data-midnight="dark">
    <div class="page-footer__inner">


        <div class="container">
            <div class="page-footer__content">


                <div class="page-footer__top-row">
                    <div class="page-footer__left-col">
                        <div class="page-footer__contacts">
                            <div class="page-footer__contacts-data">
                                <a href="tel:79874194191" class="page-footer__phone-link">
                                    +7 987 419-41-91
                                </a>
                                <a href="mailto:info@markweber.ru" class="page-footer__mail-link">
                                    info@markweber.ru
                                </a>
                            </div>

                            <ul class="page-footer__social-list">
                                <li class="page-footer__social-list-item">
                                    <a href="https://www.instagram.com/markweber.ru/" class="page-footer__social-link">
                                        <svg width="24" height="24" aria-hidden="true" class="icon-instagram">
                                            <use xlink:href="#instagram" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="page-footer__social-list-item">
                                    <a href="https://www.facebook.com/pg/markweberru/community/?ref=page_internal"
                                        class="page-footer__social-link">
                                        <svg width="24" height="24" aria-hidden="true" class="icon-fb">
                                            <use xlink:href="#fb" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="page-footer__social-list-item">
                                    <a href="https://vk.com/markweberstudio" class="page-footer__social-link">
                                        <svg width="24" height="24" aria-hidden="true" class="icon-vk">
                                            <use xlink:href="#vk" />
                                        </svg>
                                    </a>
                                </li>
                                <li class="page-footer__social-list-item">
                                    <a href="https://www.tiktok.com/@biktagirov" class="page-footer__social-link">
                                        <svg width="26" height="26" aria-hidden="true" class="icon-vk">
                                            <use xlink:href="#tiktok" />
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="page-footer__right-col">
                        <div class="page-footer__navigation">
                            <nav class="page-footer__main-nav">
                                <a href="#" class="page-footer__main-nav-link" data-text="Главная">
                                    <div>
                                        Главная
                                    </div>
                                </a>
                                <a href="#" class="page-footer__main-nav-link" data-text="Портфолио">
                                    <div>
                                        Портфолио
                                    </div>
                                </a>
                                <a href="#" class="page-footer__main-nav-link" data-text="Студия">
                                    <div>
                                        Студия
                                    </div>
                                </a>
                                <a href="#" class="page-footer__main-nav-link" data-text="Услуги">
                                    <div>
                                        Услуги
                                    </div>
                                </a>
                                <a href="#" class="page-footer__main-nav-link" data-text="Контакты">
                                    <div>
                                        Контакты
                                    </div>
                                </a>
                            </nav>
                            <nav class="page-footer__navigation-secondary">
                                <a href="#" class="page-footer__navigation-secondary-link">
                                    Истории
                                </a>
                                <a href="#" class="page-footer__navigation-secondary-link">
                                    Вакансии
                                </a>
                                <a href="#" class="page-footer__navigation-secondary-link">
                                    Команда
                                </a>
                            </nav>
                        </div>
                        <div class="page-footer__buttons">
                            <a href="/contact.html" class="page-footer__brief-link" data-text="Заполнить бриф">
                                <div class="page-footer__brief-link-inner">
                                    Заполнить бриф
                                </div>
                            </a>
                            <a href="assets/pdf/about_mark_weber.pdf" download class="page-footer__download-link">
                                <div class="page-footer__download-link-icon">
                                    <svg width="24" height="24" aria-hidden="true" class="icon-download">
                                        <use xlink:href="#download" />
                                    </svg>
                                    <svg width="24" height="24" aria-hidden="true" class="icon-download">
                                        <use xlink:href="#download" />
                                    </svg>
                                </div>

                                <div class="page-footer__download-link-content">
                                    <div class="page-footer__download-link-text">
                                        Скачать презентацию
                                    </div>
                                    <div class="page-footer__download-link-format">
                                        PDF, 2.3 МБ
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>


                </div>
                <div class="page-footer__bottom-row">
                    <div class="page-footer__left-col">
                        <div class="page-footer__copyright">
                            © 2007 — 2020
                        </div>
                    </div>
                    <div class="page-footer__right-col">
                        <a href="#" class="page-footer__policy-link">
                            Использование данных
                        </a>
                    </div>


                </div>
            </div>
        </div>
    </div>
</footer>