<header class="page-header">
    <div class="container">
        <div class="page-header__row">

            <a href="#" class="page-header__logo-link">
                {{> logo }}
            </a>
         
            <div class="page-header__buttons">
                <button class="page-header__button">
                    <span class="page-header__button-content">
                        <span></span>
                        <span></span>
                    </span>
                </button>
                <a href="#" class="page-header__contact-link {{#if dark}} disabled {{/if}}" data-text="Связаться">
                    <div class="page-header__contact-link-inner">
                        Связаться
                    </div>
                </a>
            </div>

        </div>
    </div>
</header>