<div class="menu">
    <div class="menu__bg">

    </div>
    <div class="container">
        <div class="menu__inner">
            <div class="menu__grid-wrapper">


                <div class="menu__grid">
                    <div class="menu__secondary-nav">
                        <a href="#" class="menu__secondary-nav-link">
                            Работа у нас
                        </a>
                        {{!-- <a href="#" class="menu__secondary-nav-link">
                            Блог
                        </a> --}}
                        {{!-- <a href="#" class="menu__secondary-nav-link">
                            Дизайн-система
                            <svg width="14" height="14" aria-hidden="true" class="icon-link">
                                <use xlink:href="#link" />
                            </svg>
                        </a> --}}
                    </div>
                    <nav class="menu__main-nav">
                        <a href="#" class="menu__main-nav-link">
                            Портфолио
                        </a>
                        <a href="#" class="menu__main-nav-link">
                            Студия
                        </a>
                        <a href="#" class="menu__main-nav-link">
                            Услуги
                        </a>
                        <a href="#" class="menu__main-nav-link">
                            Контакты
                        </a>
                    </nav>
                    <div class="menu__contacts">
                        <a href="tel:88002504406" class="menu__phone-link">8 800 250-44-06</a>
                        <a href="mailto:info@markweber.ru" class="menu__email-link">info@markweber.ru</a>
                    </div>

                    <div class="menu__brief">
                        <a href="#" class="menu__brief-link" data-text="Заполнить бриф">
                            <div class="menu__brief-link-inner">
                                Заполнить бриф
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>