{{#extend "layout"}}
{{#content "main"}}

<section class="intro js-intro-slider" data-midnight="light">
    <div class="intro__backgrounds">
        <div class="intro__background" style="background: url(img/bg-big-mycorner.jpg); background-size: cover" data-light-bg>

        </div>
        <div class="intro__background" style="background: linear-gradient(91.34deg, #09090A 2.06%, #302F34 100%)">

        </div>
        
        <div class="intro__background" style="background: linear-gradient(108.35deg, rgba(255, 255, 255, 0) 0%, #F1F1F1 100.39%)" data-light-bg>

        </div>
        <div class="intro__background" style="background: url(img/bg-big-tatsosbank.png); background-size: cover">

        </div>
        <div class="intro__background" style="background: #EAF1FB" data-light-bg>

        </div>
        <div class="intro__background" style="background: url(img/bg-big-brutaliti.png); background-size: cover" data-light-bg>

        </div>
    </div>
    <div class="container">
        <div class="intro__content">
            <div class="intro__top-info">
                <a href="#" class="intro__about-link" data-text="О студии">
                    <div class="intro__about-link-inner">
                        О студии
                    </div>

                </a>
            </div>
            <div class="intro__slogan">
                <p>
                    Делаем мир комфортным местом через создание полезных и удобных digital сервисов
                </p>
            </div>
            <div class="intro__services">
                <a href="#" class="intro__services-link" data-text="Сайты">
                    <div class="intro__services-link-inner">
                        Сайты
                    </div>
                </a>
                <a href="#" class="intro__services-link" data-text="Приложения">
                    <div class="intro__services-link-inner">
                        Приложения
                    </div>
                </a>
                <a href="#" class="intro__services-link" data-text="Экспертиза">

                    <div class="intro__services-link-inner">
                        Экспертиза
                    </div>
                </a>



            </div>

            <div class="intro__slider">
                <div class="intro__slider-content">
                    <div class="intro__slider-fresh-site">
                        Свежий сайт
                    </div>
                    <div class="intro__slider-bottom-row">
                        <div class="intro__slider-descriptions">
                            <a href="#" class="intro__slider-description">
                                <div class="intro__slider-description-category">
                                    Недвижимость · Золотой сайт Приволжского ФО
                                </div>
                                <h4 class="intro__slider-description-title">
                                    Сайт «My Corner»
                                </h4>
                            </a>
                            <a href="#" class="intro__slider-description">
                                <div class="intro__slider-description-category">
                                    Информационные технологии
                                </div>
                                <h4 class="intro__slider-description-title">
                                    Сайт «ICL-Техно»
                                </h4>
                            </a>
                            <a href="#" class="intro__slider-description">
                                <div class="intro__slider-description-category">
                                    Образование
                                </div>
                                <h4 class="intro__slider-description-title">
                                    Сайт «Банк Казани»
                                </h4>
                            </a>
                            <a href="#" class="intro__slider-description">
                                <div class="intro__slider-description-category">
                                    Нефть
                                </div>
                                <h4 class="intro__slider-description-title">
                                    Сайт «Татсоцбанк»
                                </h4>
                            </a>
                            <a href="#" class="intro__slider-description">
                                <div class="intro__slider-description-category">
                                    Дизайн
                                </div>
                                <h4 class="intro__slider-description-title">
                                    Сайт «БАРС Групп»
                                </h4>
                            </a>
                            <a href="#" class="intro__slider-description">
                                <div class="intro__slider-description-category">
                                    Интернет-магазин
                                </div>
                                <h4 class="intro__slider-description-title">
                                    Бруталити
                                </h4>
                            </a>
                        </div>
                        <div class="intro__slider-images">
                            <img src="img/bg-mycorner.png" alt="" class="intro__slider-image intro__slider-image--mycorner">
                            <img src="img/bg-ICL.png" alt="" class="intro__slider-image intro__slider-image--icl">
                            <img src="img/bg-bank-kazan.png" alt="" class="intro__slider-image intro__slider-image--bank-kazan">
                            <img src="img/bg-tatsosbank.png" alt="" class="intro__slider-image intro__slider-image--tatsosbank">
                            <img src="img/bg-bars.png" alt="" class="intro__slider-image intro__slider-image--bars">
                            <img src="img/bg-brutaliti.png" alt="" class="intro__slider-image intro__slider-brutaliti">
                        </div>
                        <div class="intro__slider-arrows">
                            <button class="intro__slider-arrow intro__slider-arrow--prev">
                                <svg width="24" height="24" aria-hidden="true" class="icon-slider-arrow">
                                    <use xlink:href="#slider-arrow-left" />
                                </svg>
                                <svg width="200" height="200" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg"
                                    class="intro__slider-arrow-progress">
                                    <circle cy="100" cx="100" r="80" fill="transparent" stroke="white"
                                        stroke-opacity="1" stroke-width="6" stroke-linecap="round">
                                    </circle>
                                    <circle cy="100" cx="100" r="80" fill="transparent" stroke="white" stroke-width="6"
                                        stroke-dasharray="500" stroke-linecap="round">
                                    </circle>
                                </svg>
                            </button>
                            <button class="intro__slider-arrow intro__slider-arrow--next">
                                <svg width="24" height="24" aria-hidden="true" class="icon-slider-arrow">
                                    <use xlink:href="#slider-arrow-right" />
                                </svg>
                                <svg width="200" height="200" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg"
                                    class="intro__slider-arrow-progress">
                                    <circle cy="100" cx="100" r="80" fill="transparent" stroke="white"
                                        stroke-opacity="1" stroke-width="6" stroke-linecap="round">
                                    </circle>
                                    <circle cy="100" cx="100" r="80" fill="transparent" stroke="white" stroke-width="6"
                                        stroke-dasharray="500" stroke-linecap="round">
                                    </circle>
                                </svg>
                            </button>
                        </div>
                        <div class="intro__slider-pagination">
                            <div class="intro__slider-pagination-bullet">

                            </div>
                            <div class="intro__slider-pagination-bullet">

                            </div>
                            <div class="intro__slider-pagination-bullet">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="stories-slider js-stories-slider" data-midnight="dark">
    <div class="container">
        <div class="stories-slider__content">
            <div class="stories-slider__top-row">
                <h2 class="stories-slider__heading">
                    Блог
                </h2>

                <a href="#" class="stories-slider__details-link">
                    <span class="stories-slider__details-link-text"> Перейти</span>

                    <svg width="24" height="24" aria-hidden="true" class="icon-arrow-right">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </a>
            </div>
            <div class="stories-slider__outer-slider">
                <div class="swiper-container">
                    <div class="swiper-wrapper stories-slider__outer-slider-row">
                        <div class="swiper-slide stories-slider__outer-slider-main-col">
                            <div class="stories-slider__master-slider">
                                <div class="stories-slider__master-slider-main">
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <a href="#" class="stories-slider__master-slider-main-card">
                                                    <img src="img/stories-preview.jpg" alt=""
                                                        class="stories-slider__master-slider-main-card-image">

                                                    <div class="stories-slider__card-text">


                                                        <span>
                                                            Выступление<br> на&nbsp;конференции Битрикс<br> «Формула
                                                            сайта» в IT
                                                            Park<br>
                                                            Казань
                                                        </span>

                                                    </div>
                                                </a>
                                            </div>
                                            <div class="swiper-slide">
                                                <a href="#" class="stories-slider__master-slider-main-card">
                                                    <img src="img/stories-preview-2.jpg" alt=""
                                                        class="stories-slider__master-slider-main-card-image">
                                                </a>
                                            </div>
                                            <div class="swiper-slide">
                                                <a href="#" class="stories-slider__master-slider-main-card">
                                                    <img src="img/stories-preview.jpg" alt=""
                                                        class="stories-slider__master-slider-main-card-image">
                                                </a>
                                            </div>
                                            <div class="swiper-slide">
                                                <a href="#" class="stories-slider__master-slider-main-card">
                                                    <img src="img/stories-preview-2.jpg" alt=""
                                                        class="stories-slider__master-slider-main-card-image">
                                                </a>
                                            </div>
                                            <div class="swiper-slide">
                                                <a href="#" class="stories-slider__master-slider-main-card">
                                                    <img src="img/stories-preview.jpg" alt=""
                                                        class="stories-slider__master-slider-main-card-image">
                                                </a>
                                            </div>
                                            <div class="swiper-slide">
                                                <a href="#" class="stories-slider__master-slider-main-card">
                                                    <img src="img/stories-preview-2.jpg" alt=""
                                                        class="stories-slider__master-slider-main-card-image">
                                                </a>
                                            </div>
                                            <div class="swiper-slide">
                                                <a href="#" class="stories-slider__master-slider-main-card">
                                                    <img src="img/stories-preview.jpg" alt=""
                                                        class="stories-slider__master-slider-main-card-image">
                                                </a>
                                            </div>
                                            <div class="swiper-slide">
                                                <a href="#" class="stories-slider__master-slider-main-card">
                                                    <img src="img/stories-preview-2.jpg" alt=""
                                                        class="stories-slider__master-slider-main-card-image">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="stories-slider__master-slider-thumbs">
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="stories-slider__master-slider-thumbs-card">
                                                    <div class="stories-slider__master-slider-thumbs-card-progress">

                                                    </div>
                                                    <div class="stories-slider__master-slider-thumbs-card-preview">
                                                        <img src="img/stories-previews/1.jpg" alt=""
                                                            class="stories-slider__master-slider-thumbs-card-preview-image">
                                                    </div>


                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="stories-slider__master-slider-thumbs-card">
                                                    <div class="stories-slider__master-slider-thumbs-card-progress">

                                                    </div>
                                                    <div class="stories-slider__master-slider-thumbs-card-preview">
                                                        <img src="img/stories-previews/2.jpg" alt=""
                                                            class="stories-slider__master-slider-thumbs-card-preview-image">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="stories-slider__master-slider-thumbs-card">
                                                    <div class="stories-slider__master-slider-thumbs-card-progress">

                                                    </div>
                                                    <div class="stories-slider__master-slider-thumbs-card-preview">
                                                        <img src="img/stories-previews/3.jpg" alt=""
                                                            class="stories-slider__master-slider-thumbs-card-preview-image">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="stories-slider__master-slider-thumbs-card">
                                                    <div class="stories-slider__master-slider-thumbs-card-progress">

                                                    </div>
                                                    <div class="stories-slider__master-slider-thumbs-card-preview">
                                                        <img src="img/stories-previews/4.jpg" alt=""
                                                            class="stories-slider__master-slider-thumbs-card-preview-image">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="stories-slider__master-slider-thumbs-card">
                                                    <div class="stories-slider__master-slider-thumbs-card-progress">

                                                    </div>
                                                    <div class="stories-slider__master-slider-thumbs-card-preview">
                                                        <img src="img/stories-previews/1.jpg" alt=""
                                                            class="stories-slider__master-slider-thumbs-card-preview-image">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="stories-slider__master-slider-thumbs-card">
                                                    <div class="stories-slider__master-slider-thumbs-card-progress">

                                                    </div>
                                                    <div class="stories-slider__master-slider-thumbs-card-preview">
                                                        <img src="img/stories-previews/2.jpg" alt=""
                                                            class="stories-slider__master-slider-thumbs-card-preview-image">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="stories-slider__master-slider-thumbs-card">
                                                    <div class="stories-slider__master-slider-thumbs-card-progress">

                                                    </div>
                                                    <div class="stories-slider__master-slider-thumbs-card-preview">
                                                        <img src="img/stories-previews/3.jpg" alt=""
                                                            class="stories-slider__master-slider-thumbs-card-preview-image">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="stories-slider__master-slider-thumbs-card">
                                                    <div class="stories-slider__master-slider-thumbs-card-progress">

                                                    </div>
                                                    <div class="stories-slider__master-slider-thumbs-card-preview">
                                                        <img src="img/stories-previews/4.jpg" alt=""
                                                            class="stories-slider__master-slider-thumbs-card-preview-image">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide stories-slider__outer-slider-news-col">
                            <a href="#" class="stories-slider__news-card">
                                <div class="stories-slider__news-card-image-container">
                                    <img src="img/news-card-image.jpg" alt="" class="stories-slider__news-card-image">
                                </div>
                                <h4 class="stories-slider__news-card-title">
                                    Как лучше решить про­блему отоб­ра­же­ния това­ров в кор­зине?
                                </h4>
                                <div class="stories-slider__news-card-category">
                                    Фирстиль
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide stories-slider__outer-slider-articles-col">
                            <h3 class="stories-slider__articles-heading">
                                Полезные статьи
                            </h3>
                            <ul class="stories-slider__articles-list">
                                <li class="stories-slider__articles-list-item">
                                    <a href="#" class="stories-slider__articles-card">
                                        <h4 class="stories-slider__articles-card-title">
                                            Как отличить хороший шрифт
                                        </h4>
                                        <div class="stories-slider__articles-card-category">
                                            Типографика
                                        </div>
                                    </a>
                                </li>
                                <li class="stories-slider__articles-list-item">
                                    <a href="#" class="stories-slider__articles-card">
                                        <h4 class="stories-slider__articles-card-title">
                                            Как можно улуч­шить вид таб­лицы?
                                        </h4>
                                        <div class="stories-slider__articles-card-category">
                                            Шрифт
                                        </div>
                                    </a>
                                </li>
                                <li class="stories-slider__articles-list-item">
                                    <a href="#" class="stories-slider__articles-card">
                                        <h4 class="stories-slider__articles-card-title">
                                            Как отличить хороший шрифт
                                        </h4>
                                        <div class="stories-slider__articles-card-category">
                                            Типографика
                                        </div>
                                    </a>
                                </li>
                                <li class="stories-slider__articles-list-item">
                                    <a href="#" class="stories-slider__articles-card">
                                        <h4 class="stories-slider__articles-card-title">
                                            Как лучше решить про­блему отоб­ра­же­ния това­ров в кор­зине?
                                        </h4>
                                        <div class="stories-slider__articles-card-category">
                                            Фирстиль
                                        </div>
                                    </a>
                                </li>
                                <li class="stories-slider__articles-list-item">
                                    <a href="#" class="stories-slider__articles-card">
                                        <h4 class="stories-slider__articles-card-title">
                                            Как отличить хороший шрифт
                                        </h4>
                                        <div class="stories-slider__articles-card-category">
                                            Типографика
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="cases js-cases" data-midnight="light">
    <div class="container">
        <div class="cases__top-nav">
            <div class="cases__top-nav-intro-row">
                <div class="cases__top-nav-intro-row-fresh-cases">
                    Свежие кейсы
                </div>

                <a href="#" class="cases__top-nav-show-all">
                    <span class="cases__top-nav-show-all-text">
                        Смотреть все
                    </span>


                    <svg width="24" height="24" aria-hidden="true" class="icon-arrow-right">
                        <use xlink:href="#arrow-right" />
                    </svg>
                </a>
            </div>
            <div class="cases__top-nav-links-row">
                <h2 class="cases__heading">
                    Лучший дизайн, <br>что вы видели
                </h2>

                <nav class="cases__top-navigation">
                    <a href="#" class="cases__top-navigation-link" data-all-categories="">
                        <span class="cases__top-navigation-link-text" data-text="Все подряд">
                            Все подряд
                        </span>

                        <span class="cases__top-navigation-link-count" data-text="56">
                            56
                        </span>
                    </a>
                    <a href="#" class="cases__top-navigation-link" data-category="websites">

                        <span class="cases__top-navigation-link-text" data-text="Сайты">
                            Сайты
                        </span>
                        <span class="cases__top-navigation-link-count" data-text="43">
                            43
                        </span>
                    </a>
                    <a href="#" class="cases__top-navigation-link" data-category="applications">
                        <span class="cases__top-navigation-link-text" data-text="Приложения">
                            Приложения
                        </span>
                        <span class="cases__top-navigation-link-count" data-text="5">
                            5
                        </span>
                    </a>
                    <a href="#" class="cases__top-navigation-link" data-category="branding">

                        <span class="cases__top-navigation-link-text" data-text="Брендинг">
                            Брендинг
                        </span>
                        <span class="cases__top-navigation-link-count" data-text="11">
                            11
                        </span>
                    </a>
                </nav>



            </div>

        </div>

        <div class="cases__image-grid">
            <a href="#" class="cases__image-grid-card" data-category="websites">
                <img data-src="img/cases/1.jpg" alt="" class="cases__image-grid-card-image lazyload">

                <div class="cases__image-grid-card-content">
                    <div class="cases__image-grid-card-content-top-row">
                        <div class="cases__image-grid-card-content-type">
                            Свежий проект
                        </div>
                        <div class="cases__image-grid-card-content-link">
                            proroditelstvo.ru
                            <svg width="24" height="24" aria-hidden="true" class="icon-outer-link">
                                <use xlink:href="#outer-link" />
                            </svg>
                        </div>
                    </div>

                    <h3 class="cases__image-grid-card-content-name">
                        Прородительство
                    </h3>
                </div>
            </a>
            <a href="#" class="cases__image-grid-card" data-category="applications" data-parallax-offset="-50">
                <img data-src="img/cases/2.jpg" alt="" class="cases__image-grid-card-image lazyload">
                <div class="cases__image-grid-card-content">
                    <div class="cases__image-grid-card-content-top-row">
                        <div class="cases__image-grid-card-content-type">
                            Свежий проект
                        </div>
                        <div class="cases__image-grid-card-content-link">
                            proroditelstvo.ru
                            <svg width="24" height="24" aria-hidden="true" class="icon-outer-link">
                                <use xlink:href="#outer-link" />
                            </svg>
                        </div>
                    </div>

                    <h3 class="cases__image-grid-card-content-name">
                        Прородительство
                    </h3>
                </div>
            </a>
            <a href="#" class="cases__image-grid-card" data-category="websites">
                <img data-src="img/cases/3.jpg" alt="" class="cases__image-grid-card-image lazyload">

                <div class="cases__image-grid-card-content">
                    <div class="cases__image-grid-card-content-top-row">
                        <div class="cases__image-grid-card-content-type">
                            Свежий проект
                        </div>
                        <div class="cases__image-grid-card-content-link">
                            proroditelstvo.ru
                            <svg width="24" height="24" aria-hidden="true" class="icon-outer-link">
                                <use xlink:href="#outer-link" />
                            </svg>
                        </div>
                    </div>

                    <h3 class="cases__image-grid-card-content-name">
                        Прородительство
                    </h3>
                </div>
            </a>
            <a href="#" class="cases__image-grid-card" data-category="applications" data-parallax-offset="-40">
                <img data-src="img/cases/4.jpg" alt="" class="cases__image-grid-card-image lazyload">

                <div class="cases__image-grid-card-content">
                    <div class="cases__image-grid-card-content-top-row">
                        <div class="cases__image-grid-card-content-type">
                            Свежий проект
                        </div>
                        <div class="cases__image-grid-card-content-link">
                            proroditelstvo.ru
                            <svg width="24" height="24" aria-hidden="true" class="icon-outer-link">
                                <use xlink:href="#outer-link" />
                            </svg>
                        </div>
                    </div>

                    <h3 class="cases__image-grid-card-content-name">
                        Прородительство
                    </h3>
                </div>
            </a>
            <a href="#" class="cases__image-grid-card cases__image-grid-card--dark" data-category="websites"
                data-parallax-offset="-20">
                <img data-src="img/cases/5.jpg" alt="" class="cases__image-grid-card-image lazyload">

                <div class="cases__image-grid-card-content">
                    <div class="cases__image-grid-card-content-top-row">
                        <div class="cases__image-grid-card-content-type">
                            Свежий проект
                        </div>
                        <div class="cases__image-grid-card-content-link">
                            proroditelstvo.ru
                            <svg width="24" height="24" aria-hidden="true" class="icon-outer-link">
                                <use xlink:href="#outer-link" />
                            </svg>
                        </div>
                    </div>

                    <h3 class="cases__image-grid-card-content-name">
                        Прородительство
                    </h3>
                </div>
            </a>
            <a href="#" class="cases__image-grid-card" data-category="branding">
                <img data-src="img/cases/6.jpg" alt="" class="cases__image-grid-card-image lazyload">

                <div class="cases__image-grid-card-content">
                    <div class="cases__image-grid-card-content-top-row">
                        <div class="cases__image-grid-card-content-type">
                            Свежий проект
                        </div>
                        <div class="cases__image-grid-card-content-link">
                            proroditelstvo.ru
                            <svg width="24" height="24" aria-hidden="true" class="icon-outer-link">
                                <use xlink:href="#outer-link" />
                            </svg>
                        </div>
                    </div>

                    <h3 class="cases__image-grid-card-content-name">
                        Прородительство
                    </h3>
                </div>
            </a>
            <a href="#" class="cases__image-grid-card cases__image-grid-card--dark" data-category="applications"
                data-parallax-offset="-60">
                <img data-src="img/cases/7.jpg" alt="" class="cases__image-grid-card-image lazyload">

                <div class="cases__image-grid-card-content">
                    <div class="cases__image-grid-card-content-top-row">
                        <div class="cases__image-grid-card-content-type">
                            Свежий проект
                        </div>
                        <div class="cases__image-grid-card-content-link">
                            proroditelstvo.ru
                            <svg width="24" height="24" aria-hidden="true" class="icon-outer-link">
                                <use xlink:href="#outer-link" />
                            </svg>
                        </div>
                    </div>

                    <h3 class="cases__image-grid-card-content-name">
                        Прородительство
                    </h3>
                </div>
            </a>
            <a href="#" class="cases__image-grid-card" data-category="branding">
                <img data-src="img/cases/8.jpg" alt="" class="cases__image-grid-card-image lazyload">

                <div class="cases__image-grid-card-content">
                    <div class="cases__image-grid-card-content-top-row">
                        <div class="cases__image-grid-card-content-type">
                            Свежий проект
                        </div>
                        <div class="cases__image-grid-card-content-link">
                            proroditelstvo.ru
                            <svg width="24" height="24" aria-hidden="true" class="icon-outer-link">
                                <use xlink:href="#outer-link" />
                            </svg>
                        </div>
                    </div>

                    <h3 class="cases__image-grid-card-content-name">
                        Прородительство
                    </h3>
                </div>
            </a>
            <a href="#" class="cases__image-grid-card" data-category="websites">
                <img data-src="img/cases/9.jpg" alt="" class="cases__image-grid-card-image lazyload">

                <div class="cases__image-grid-card-content">
                    <div class="cases__image-grid-card-content-top-row">
                        <div class="cases__image-grid-card-content-type">
                            Свежий проект
                        </div>
                        <div class="cases__image-grid-card-content-link">
                            proroditelstvo.ru
                            <svg width="24" height="24" aria-hidden="true" class="icon-outer-link">
                                <use xlink:href="#outer-link" />
                            </svg>
                        </div>
                    </div>

                    <h3 class="cases__image-grid-card-content-name">
                        Прородительство
                    </h3>
                </div>
            </a>
        </div>

        <div class="cases__bottom-nav">
            <a href="#" class="cases__bottom-nav-link">
                Смотреть все кейсы
                <svg width="24" height="24" aria-hidden="true" class="icon-arrow-right">
                    <use xlink:href="#arrow-right" />
                </svg>
            </a>
        </div>

    </div>
</section>


<section class="expertise js-expertise" data-midnight="dark">
    <div class="container">
        <div class="expertise__nav">
            <h2 class="expertise__heading">
                Экспертиза в отраслях
            </h2>
            <div class="expertise__navigation-links">
                <a href="#" class="expertise__navigation-link">
                    Финансы
                </a>
                <a href="#" class="expertise__navigation-link">
                    Медиа и СМИ
                </a>
                <a href="#" class="expertise__navigation-link">
                    IT
                </a>
                <a href="#" class="expertise__navigation-link">
                    Производство
                </a>
                <a href="#" class="expertise__navigation-link">
                    Услуги
                </a>
                <a href="#" class="expertise__navigation-link">
                    E-commerce
                </a>
                <a href="#" class="expertise__navigation-link">
                    Недвижимость
                </a>
            </div>
        </div>
        <div class="expertise__nav-slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="expertise__nav-slider-card">
                            Финансы
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="expertise__nav-slider-card">
                            Медиа и СМИ
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="expertise__nav-slider-card">
                            IT
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="expertise__nav-slider-card">
                            Производство
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="expertise__nav-slider-card">
                            Услуги
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="expertise__nav-slider-card">
                            E-commerce
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="expertise__nav-slider-card">
                            Недвижимость
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="expertise__main-slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="expertise__main-slider-card">
                            <div class="expertise__main-slider-card-left-col">
                                <div class="expertise__main-slider-card-text">
                                    Мы помогаем компаниям и брендам расширять границы своего digital-присутствия
                                    и становиться еще ближе к пользователю
                                </div>
                                <div class="expertise__main-slider-card-features">
                                    <div class="expertise__main-slider-card-feature">
                                        <h4 class="expertise__main-slider-card-feature-heading">
                                            Технологии
                                        </h4>
                                        <div class="expertise__main-slider-card-feature-text">
                                            <p>
                                                Мы помогаем компаниям полностью реализовывать свой потенциал в digital:
                                                разрабатываем цифровые продукты, корпоративные и промосайты,
                                                высоконагруженные порталы и e-commerce решения.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="expertise__main-slider-card-feature">
                                        <h4 class="expertise__main-slider-card-feature-heading">
                                            Дизайн
                                        </h4>
                                        <div class="expertise__main-slider-card-feature-text">
                                            <p>
                                                Мы уделяем особое внимание потребностям пользователей и чистоте
                                                интерфейса, применяем самые новые технологии и подходы
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="expertise__main-slider-card-contact-link">
                                    Задать вопрос
                                </a>
                                <div class="expertise__partners">
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/1.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/2.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/3.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/4.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/5.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                </div>
                            </div>
                            <div class="expertise__main-slider-card-right-col">
                                <div class="expertise__main-slider-card-image-container">
                                    <div class="expertise__main-slider-card-image-parallax-wrapper"
                                        data-swiper-parallax-x="-20%" data-swiper-parallax-duration="1000">
                                        <img src="img/expertise-slider-image.jpg" alt=""
                                            class="expertise__main-slider-card-image">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="expertise__main-slider-card">
                            <div class="expertise__main-slider-card-left-col">
                                <div class="expertise__main-slider-card-text">
                                    Мы помогаем компаниям и брендам расширять границы своего digital-присутствия
                                    и становиться еще ближе к пользователю
                                </div>
                                <div class="expertise__main-slider-card-features">
                                    <div class="expertise__main-slider-card-feature">
                                        <h4 class="expertise__main-slider-card-feature-heading">
                                            Технологии
                                        </h4>
                                        <div class="expertise__main-slider-card-feature-text">
                                            <p>
                                                Мы помогаем компаниям полностью реализовывать свой потенциал в digital:
                                                разрабатываем цифровые продукты, корпоративные и промосайты,
                                                высоконагруженные порталы и e-commerce решения.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="expertise__main-slider-card-feature">
                                        <h4 class="expertise__main-slider-card-feature-heading">
                                            Дизайн
                                        </h4>
                                        <div class="expertise__main-slider-card-feature-text">
                                            <p>
                                                Мы уделяем особое внимание потребностям пользователей и чистоте
                                                интерфейса, применяем самые новые технологии и подходы
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="expertise__main-slider-card-contact-link">
                                    Задать вопрос
                                </a>
                                <div class="expertise__partners">
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/1.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/2.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/3.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/4.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/5.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                </div>
                            </div>
                            <div class="expertise__main-slider-card-right-col">
                                <div class="expertise__main-slider-card-image-container">
                                    <div class="expertise__main-slider-card-image-parallax-wrapper"
                                        data-swiper-parallax-x="-20%" data-swiper-parallax-duration="1000">
                                        <img src="img/expertise-slider-image.jpg" alt=""
                                            class="expertise__main-slider-card-image">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="expertise__main-slider-card">
                            <div class="expertise__main-slider-card-left-col">
                                <div class="expertise__main-slider-card-text">
                                    Мы помогаем компаниям и брендам расширять границы своего digital-присутствия
                                    и становиться еще ближе к пользователю
                                </div>
                                <div class="expertise__main-slider-card-features">
                                    <div class="expertise__main-slider-card-feature">
                                        <h4 class="expertise__main-slider-card-feature-heading">
                                            Технологии
                                        </h4>
                                        <div class="expertise__main-slider-card-feature-text">
                                            <p>
                                                Мы помогаем компаниям полностью реализовывать свой потенциал в digital:
                                                разрабатываем цифровые продукты, корпоративные и промосайты,
                                                высоконагруженные порталы и e-commerce решения.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="expertise__main-slider-card-feature">
                                        <h4 class="expertise__main-slider-card-feature-heading">
                                            Дизайн
                                        </h4>
                                        <div class="expertise__main-slider-card-feature-text">
                                            <p>
                                                Мы уделяем особое внимание потребностям пользователей и чистоте
                                                интерфейса, применяем самые новые технологии и подходы
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="expertise__main-slider-card-contact-link">
                                    Задать вопрос
                                </a>
                                <div class="expertise__partners">
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/1.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/2.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/3.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/4.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/5.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                </div>
                            </div>
                            <div class="expertise__main-slider-card-right-col">
                                <div class="expertise__main-slider-card-image-container">
                                    <div class="expertise__main-slider-card-image-parallax-wrapper"
                                        data-swiper-parallax-x="-10%" data-swiper-parallax-duration="1000">
                                        <img src="img/expertise-slider-image.jpg" alt=""
                                            class="expertise__main-slider-card-image">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="expertise__main-slider-card">
                            <div class="expertise__main-slider-card-left-col">
                                <div class="expertise__main-slider-card-text">
                                    Мы помогаем компаниям и брендам расширять границы своего digital-присутствия
                                    и становиться еще ближе к пользователю
                                </div>
                                <div class="expertise__main-slider-card-features">
                                    <div class="expertise__main-slider-card-feature">
                                        <h4 class="expertise__main-slider-card-feature-heading">
                                            Технологии
                                        </h4>
                                        <div class="expertise__main-slider-card-feature-text">
                                            <p>
                                                Мы помогаем компаниям полностью реализовывать свой потенциал в digital:
                                                разрабатываем цифровые продукты, корпоративные и промосайты,
                                                высоконагруженные порталы и e-commerce решения.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="expertise__main-slider-card-feature">
                                        <h4 class="expertise__main-slider-card-feature-heading">
                                            Дизайн
                                        </h4>
                                        <div class="expertise__main-slider-card-feature-text">
                                            <p>
                                                Мы уделяем особое внимание потребностям пользователей и чистоте
                                                интерфейса, применяем самые новые технологии и подходы
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="expertise__main-slider-card-contact-link">
                                    Задать вопрос
                                </a>
                                <div class="expertise__partners">
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/1.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/2.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/3.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/4.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/5.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                </div>
                            </div>
                            <div class="expertise__main-slider-card-right-col">
                                <div class="expertise__main-slider-card-image-container">
                                    <div class="expertise__main-slider-card-image-parallax-wrapper"
                                        data-swiper-parallax-x="-20%" data-swiper-parallax-duration="1000">
                                        <img src="img/expertise-slider-image.jpg" alt=""
                                            class="expertise__main-slider-card-image">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="expertise__main-slider-card">
                            <div class="expertise__main-slider-card-left-col">
                                <div class="expertise__main-slider-card-text">
                                    Мы помогаем компаниям и брендам расширять границы своего digital-присутствия
                                    и становиться еще ближе к пользователю
                                </div>
                                <div class="expertise__main-slider-card-features">
                                    <div class="expertise__main-slider-card-feature">
                                        <h4 class="expertise__main-slider-card-feature-heading">
                                            Технологии
                                        </h4>
                                        <div class="expertise__main-slider-card-feature-text">
                                            <p>
                                                Мы помогаем компаниям полностью реализовывать свой потенциал в digital:
                                                разрабатываем цифровые продукты, корпоративные и промосайты,
                                                высоконагруженные порталы и e-commerce решения.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="expertise__main-slider-card-feature">
                                        <h4 class="expertise__main-slider-card-feature-heading">
                                            Дизайн
                                        </h4>
                                        <div class="expertise__main-slider-card-feature-text">
                                            <p>
                                                Мы уделяем особое внимание потребностям пользователей и чистоте
                                                интерфейса, применяем самые новые технологии и подходы
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="expertise__main-slider-card-contact-link">
                                    Задать вопрос
                                </a>
                                <div class="expertise__partners">
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/1.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/2.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/3.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/4.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/5.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                </div>
                            </div>
                            <div class="expertise__main-slider-card-right-col">
                                <div class="expertise__main-slider-card-image-container">
                                    <div class="expertise__main-slider-card-image-parallax-wrapper"
                                        data-swiper-parallax-x="-20%" data-swiper-parallax-duration="1000">
                                        <img src="img/expertise-slider-image.jpg" alt=""
                                            class="expertise__main-slider-card-image">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="expertise__main-slider-card">
                            <div class="expertise__main-slider-card-left-col">
                                <div class="expertise__main-slider-card-text">
                                    Мы помогаем компаниям и брендам расширять границы своего digital-присутствия
                                    и становиться еще ближе к пользователю
                                </div>
                                <div class="expertise__main-slider-card-features">
                                    <div class="expertise__main-slider-card-feature">
                                        <h4 class="expertise__main-slider-card-feature-heading">
                                            Технологии
                                        </h4>
                                        <div class="expertise__main-slider-card-feature-text">
                                            <p>
                                                Мы помогаем компаниям полностью реализовывать свой потенциал в digital:
                                                разрабатываем цифровые продукты, корпоративные и промосайты,
                                                высоконагруженные порталы и e-commerce решения.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="expertise__main-slider-card-feature">
                                        <h4 class="expertise__main-slider-card-feature-heading">
                                            Дизайн
                                        </h4>
                                        <div class="expertise__main-slider-card-feature-text">
                                            <p>
                                                Мы уделяем особое внимание потребностям пользователей и чистоте
                                                интерфейса, применяем самые новые технологии и подходы
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="expertise__main-slider-card-contact-link">
                                    Задать вопрос
                                </a>
                                <div class="expertise__partners">
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/1.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/2.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/3.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/4.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/5.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                </div>
                            </div>
                            <div class="expertise__main-slider-card-right-col">
                                <div class="expertise__main-slider-card-image-container">
                                    <div class="expertise__main-slider-card-image-parallax-wrapper"
                                        data-swiper-parallax-x="-10%" data-swiper-parallax-duration="1000">
                                        <img src="img/expertise-slider-image.jpg" alt=""
                                            class="expertise__main-slider-card-image">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="expertise__main-slider-card">
                            <div class="expertise__main-slider-card-left-col">
                                <div class="expertise__main-slider-card-text">
                                    Мы помогаем компаниям и брендам расширять границы своего digital-присутствия
                                    и становиться еще ближе к пользователю
                                </div>
                                <div class="expertise__main-slider-card-features">
                                    <div class="expertise__main-slider-card-feature">
                                        <h4 class="expertise__main-slider-card-feature-heading">
                                            Технологии
                                        </h4>
                                        <div class="expertise__main-slider-card-feature-text">
                                            <p>
                                                Мы помогаем компаниям полностью реализовывать свой потенциал в digital:
                                                разрабатываем цифровые продукты, корпоративные и промосайты,
                                                высоконагруженные порталы и e-commerce решения.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="expertise__main-slider-card-feature">
                                        <h4 class="expertise__main-slider-card-feature-heading">
                                            Дизайн
                                        </h4>
                                        <div class="expertise__main-slider-card-feature-text">
                                            <p>
                                                Мы уделяем особое внимание потребностям пользователей и чистоте
                                                интерфейса, применяем самые новые технологии и подходы
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="expertise__main-slider-card-contact-link">
                                    Задать вопрос
                                </a>
                                <div class="expertise__partners">
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/1.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/2.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/3.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/4.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                    <a href="#" class="expertise__partners-link">
                                        <img src="img/partners/5.png" alt="" class="expertise__partners-link-image">
                                    </a>
                                </div>
                            </div>
                            <div class="expertise__main-slider-card-right-col">
                                <div class="expertise__main-slider-card-image-container">
                                    <div class="expertise__main-slider-card-image-parallax-wrapper"
                                        data-swiper-parallax-x="-10%" data-swiper-parallax-duration="1000">
                                        <img src="img/expertise-slider-image.jpg" alt=""
                                            class="expertise__main-slider-card-image">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="contact-us js-contact-us-modal" data-midnight="light">
    <div class="contact-us__orb-wrapper">
        <div class="contact-us__orb">
            <div class="contact-us__orb-inner">

            </div>
        </div>
    </div>
    <div class="contact-us__inner">


        <div class="container">
            <h2 class="contact-us__small-heading">
                Расчитать проект
            </h2>
            <form action="/" method="GET" class="contact-us__form">
                <div class="contact-us__layers">
                    <div class="contacts-us__layer active">
                        <div class="contact-us__intro-text">
                            <p>
                                Сегодня в Монреале красиво! Да я знаю, я тоже красивый — спасибо. Если ты закончил
                                флирт,
                                что я
                                могу
                                сделать для вас?
                            </p>
                        </div>
                        <div class="contact-us__links">
                            <label class="contact-us__checkbox">
                                <input type="radio" name="type" value="website" class="contact-us__checkbox-input">
                                <span class="contact-us__checkbox-content">
                                    Сайт
                                </span>

                            </label>
                            <label class="contact-us__checkbox">
                                <input type="radio" name="type" value="service" class="contact-us__checkbox-input">
                                <span class="contact-us__checkbox-content">
                                    Веб-сервис
                                </span>

                            </label>
                            <label class="contact-us__checkbox">
                                <input type="radio" name="type" value="identica" class="contact-us__checkbox-input">
                                <span class="contact-us__checkbox-content">
                                    Айдентика
                                </span>

                            </label>
                            <label class="contact-us__checkbox">
                                <input type="radio" name="type" value="app" class="contact-us__checkbox-input">
                                <span class="contact-us__checkbox-content">
                                    Мобильное приложение
                                </span>

                            </label>
                            <label class="contact-us__checkbox">
                                <input type="radio" name="type" value="misc" class="contact-us__checkbox-input">
                                <span class="contact-us__checkbox-content">
                                    Другое
                                </span>

                            </label>
                        </div>
                    </div>
                    <div class="contacts-us__layer">
                        <div class="contact-us__intro-text">
                            <p>
                                Говорить о деньгах - это грубо? У меня нет манер, я компьютер. Каков ваш бюджет для
                                этого
                                полного веб-проекта?
                            </p>
                        </div>
                        <div class="contact-us__links">
                            <label class="contact-us__checkbox">
                                <input type="radio" name="price" value="300" class="contact-us__checkbox-input">
                                <span class="contact-us__checkbox-content">
                                    До 300 000 ₽
                                </span>

                            </label>
                            <label class="contact-us__checkbox">
                                <input type="radio" name="price" value="500" class="contact-us__checkbox-input">
                                <span class="contact-us__checkbox-content">
                                    300 000 - 500 000 ₽
                                </span>

                            </label>
                            <label class="contact-us__checkbox">
                                <input type="radio" name="price" value="800" class="contact-us__checkbox-input">
                                <span class="contact-us__checkbox-content">
                                    500 000 - 800 000 ₽
                                </span>

                            </label>
                            <label class="contact-us__checkbox">
                                <input type="radio" name="price" value="1000" class="contact-us__checkbox-input">
                                <span class="contact-us__checkbox-content">
                                    Больше 1 000 000 ₽
                                </span>

                            </label>
                            <label class="contact-us__checkbox">
                                <input type="radio" name="price" value="2000" class="contact-us__checkbox-input">
                                <span class="contact-us__checkbox-content">
                                    Больше 2 000 000 ₽
                                </span>

                            </label>

                        </div>
                    </div>
                </div>
            </form>
            <button class="contact-us__close-btn">
                <svg width="14" height="14" aria-hidden="true" class="icon-cross">
                    <use xlink:href="#cross" />
                </svg>
            </button>

        </div>
    </div>
</section>

{{/content}}
{{/extend}}