.breadcrumbs__row {
    height: var(--header-height);
    display: flex;
    align-items: center;
    padding-left: var(--left-column-width);
}

.breadcrumbs {
    position: fixed;
    z-index: 11;
    width: 100%;
    background-color: #24282a;
}

.breadcrumbs__list {
    align-self: stretch;
    display: flex;
    align-items: center;
    width: 100%;
    // border-bottom: 1px solid #ffffff;
    padding-bottom: 0.2rem;
    position: relative;
    &::before {
        content: '';
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #fff;
        position: absolute;
        top: 100%;
    }
}

.breadcrumbs__link {
    display: inline-flex;
    align-items: center;
    font-size: 1.5rem;
    line-height: 1.8rem;
    letter-spacing: -0.03em;
    font-weight: 500;
    @include breakpoint(small-tablet) {
        display: none;
    }
    &:link,
    &:visited {
        color: white;
    }
    .breadcrumbs__list-item.active & {
        color: #586267;
    }

    svg {
        fill: white;
        width: 0.6rem;
        height: 1.2rem;
        flex-shrink: 0;
        margin: 0 2.5rem;
    }

    &:not([href]) {
        cursor: default;
    }

    .breadcrumbs__list-item:last-child & {
        svg {
            display: none;
        }
    }

    .no-touch .breadcrumbs__list-item:not(.active) &:hover {
        color: var(--primary-color);
    }
}
