.contact {
    padding-top: 5rem;
    padding-bottom: 7rem;

    @include breakpoint(mobile) {
        padding-top: 3rem;
        padding-bottom: 4.5rem;
    }
}

.contact__row {
    display: flex;

    @include breakpoint(mobile) {
        flex-direction: column;
    }
}

.contact__left-col {
    width: 78rem;
    margin-right: 5rem;
    display: flex;
    flex-direction: column;
    @include breakpoint(mobile) {
        width: 100%;
        margin: 0;
    }
}

.contact__right-col {
    width: var(--right-column-width);
    margin-left: auto;

    @include breakpoint(mobile) {
        width: 100%;
        margin: 0;
        margin-bottom: 8rem;
        order: -1;
    }
}

.contact__sidebar-heading {
    font-size: 7rem;
    line-height: 1.2;
    letter-spacing: -0.02em;
    margin-bottom: 17.5rem;
    font-weight: 400;

    @include breakpoint(mobile) {
        font-size: 4rem;
        line-height: 4.8rem;
        letter-spacing: -0.02em;
        margin-bottom: 5rem;
    }
}

.contact__sidebar-info {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-row-gap: 4.8rem;
    margin-bottom: 18rem;

    @include breakpoint(mobile) {
        grid-row-gap: 3rem;
        margin-bottom: 5.5rem;
    }
}

.contact__sidebar-address {
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: -0.02em;
    align-self: baseline;

    @include breakpoint(mobile) {
        font-size: 1.5rem;
        line-height: 2.2rem;
    }
}

.contact__sidebar-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 0.52rem;

    @include breakpoint(mobile) {
        padding-top: 0.25rem;
    }
}

.contact__sidebar-link {
    font-size: 2rem;
    line-height: 2.2rem;
    letter-spacing: -0.02em;
    margin-bottom: 1.6rem;

    @include breakpoint(mobile) {
        font-size: 1.5rem;
        line-height: 2.2rem;
        margin-bottom: 1rem;
    }
    &:last-child {
        margin-bottom: 0;
    }

    .no-touch &:hover {
        color: var(--primary-color);
    }
}

.contact__sidebar-location-link {
    width: 6rem;
    height: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
    transition: background-color 0.2s, transform 0.2s;

    @include breakpoint(mobile) {
        width: 4rem;
        height: 4rem;
    }
    svg {
        fill: #24282b;
        width: 1.6rem;
        height: 2.3rem;
        flex-shrink: 0;

        @include breakpoint(mobile) {
            width: 1rem;
            height: 1.5rem;
        }
    }

    .no-touch &:hover {
        transform: scale(1.05);
    }
}

.contact__sidebar-social-list {
    display: flex;
    align-items: center;
}

.contact__sidebar-social-list-item {
    margin-right: 1rem;
    flex-shrink: 0;

    @include breakpoint(mobile) {
        margin-right: 0.8rem;
    }
    &:last-child {
        margin-right: 0;
    }
}

.contact__sidebar-social-link {
    width: 5.2rem;
    height: 5.2rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #303639;
    color: white;
    transition: background-color 0.2s, color 0.2s;

    svg {
        width: 1.3rem;
        height: 1.3rem;
    }

    @include breakpoint(mobile) {
        width: 4.2rem;
        height: 4.2rem;
    }
    &:link,
    &:visited {
        color: white;
    }

    .no-touch &:hover {
        background: white;
        color: #303639;
    }
}

.contact__intro {
    padding-left: var(--left-column-width);
    display: flex;
    align-items: flex-start;
    margin-bottom: 16rem;
    padding-top: 1.2rem;

    @include breakpoint(mobile) {
        display: none;
    }
}

.contact__intro-illustration {
    width: 9.4rem;
    flex-shrink: 0;
    margin-right: 4rem;
}

.contact__intro-content {
    width: 30%;
    flex-grow: 1;
}

.contact__intro-text {
    font-size: 2rem;
    line-height: 2.4rem;
    letter-spacing: -0.02em;
    margin-bottom: 3rem;
    padding-top: 0.5rem;
    max-width: 45rem;
}

.contact__intro-author-name {
    margin-bottom: 0.6rem;
    font-size: 2rem;
    line-height: 2.2rem;
    letter-spacing: -0.02em;
}

.contact__intro-author-role {
    font-size: 1.5rem;
    line-height: 1.8rem;
    letter-spacing: -0.02em;
    color: #586267;
}

.contact__form {
    padding-top: 3rem;
    border-top: 1px solid white;

    display: flex;
    flex-direction: column;

    @include breakpoint(mobile) {
        padding-top: 2rem;
    }
}

.contact__form-heading {
    font-size: 3.2rem;
    line-height: 3.8rem;
    letter-spacing: -0.02em;
    margin-bottom: 6.5rem;
    font-weight: 400;

    @include breakpoint(mobile) {
        font-size: 2.4rem;
        line-height: 2.9rem;
        margin-bottom: 4rem;
    }
}

.contact__form-subheading {
    font-size: 1.5rem;
    line-height: 1.8rem;
    letter-spacing: -0.02em;
    margin-bottom: 2rem;
    font-weight: 400;

    @include breakpoint(mobile) {
        font-size: 1.2rem;
        line-height: 1.4rem;
        margin-bottom: 1rem;
    }
}

.contact__form-checkboxes {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -1rem;

    @include breakpoint(mobile) {
        margin-bottom: 0;
        margin-left: calc(-1 * var(--content-padding));
        margin-right: calc(-1 * var(--content-padding));
        padding-left: var(--content-padding);
        padding-right: var(--content-padding);
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        flex-wrap: nowrap;
        &::after {
            content: '';
            width: var(--content-padding);
            flex-shrink: 0;
            height: 1px;
        }

        @include noScrollbar();
    }
}

.contact__form-checkbox {
    flex-shrink: 0;
    margin-right: 1rem;
    margin-bottom: 1rem;
    user-select: none;
    cursor: pointer;

    @include breakpoint(mobile) {
        margin-bottom: 0;
    }
}

.contact__form-checkbox-input {
    display: none;
}

.contact__form-checkbox-content {
    padding: 0.7rem 1.4rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2.5rem;
    letter-spacing: -0.02em;
    background: #303639;
    border-radius: 2rem;
    font-weight: 500;
    transition: background-color 0.2s, color 0.2s;
}

.contact__form-checkbox-input:checked ~ .contact__form-checkbox-content {
    background-color: white;
    color: #303639;
}

.contact__form-input {
    background: #303639;
    height: 6rem;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    font-size: 1.6rem;
    line-height: 1.2;
    font: inherit;
    color: white;
    display: block;
    width: 100%;
    border: 1px solid #303639;
    transition: border-color 0.2s;

    @include breakpoint(mobile) {
        height: 5rem;
        padding-left: 1.4rem;
        padding-right: 1.4rem;
    }

    &.parsley-error {
        border-color: var(--primary-color);
    }
}

.contact__form-input ~ .parsley-errors-list.filled {
    color: var(--primary-color);
    margin-top: 0.5rem;
    font-size: 1.2rem;
    line-height: 1.2;
}

textarea.contact__form-input {
    height: 24rem;
    width: 100%;
    resize: none;
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
    display: block;

    @include breakpoint(mobile) {
        padding: 1.6rem 1.4rem;
    }
}

.contact__form-rows {
    display: flex;
    flex-wrap: wrap;
    margin: -2.5rem -2rem;

    @include breakpoint(mobile) {
        margin: -2rem;
    }
}

.contact__form-row {
    width: 100%;
    padding: 2.5rem 2rem;

    @include breakpoint(mobile) {
        padding: 2rem;
    }
    &--half {
        width: 50%;
        @include breakpoint(mobile) {
            width: 100%;
        }
    }
}

.contact__form-file {
    position: relative;
    margin-top: 3rem;
    display: inline-flex;

    @include breakpoint(mobile) {
        margin-top: 2rem;
    }
}

.contact__form-file-input {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.contact__form-file-content {
    background: #303639;
    border-radius: 3rem;
    padding: 0.8rem 1.4rem;
    display: inline-flex;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    line-height: 2.5rem;
    letter-spacing: -0.02em;
    font-weight: 500;
    svg {
        width: 1.6rem;
        height: 2rem;
        flex-shrink: 0;
        margin-right: 1.2rem;
    }
}

.contact__form-submit {
    padding: 2.7rem 8rem;
    letter-spacing: -0.02em;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2.5rem;
    flex-shrink: 0;
    margin-left: auto;
    text-align: center;
    display: inline-flex;
    margin-top: 5rem;
    background-color: #fff;
    color: #24282b;
    border-radius: 9rem;
    transition: transform 0.3s;
    text-align: center;
    align-self: flex-start;

    .no-touch &:hover {
        transform: scale(1.03);
    }

    @include breakpoint(mobile) {
        margin-top: 4rem;
        padding: 2rem 4.8rem;
        font-size: 1.5rem;
        line-height: 1.8rem;
        margin-left: 0;
        border-radius: 4rem;
    }
}

.contact__layers {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.contact__form-layer,
.contact__success-layer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0s linear 0.5s;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
   
    &.active {
        position: relative;
        z-index: 10;
        opacity: 1;
        visibility: inherit;
        transition: opacity 0.5s ease .5s, visibility 0.5s ease .5s;
    }
}

.contact__success {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 16rem;

    @include breakpoint(mobile) {
        padding-top: 0;
        padding-bottom: 5rem;
    }
}

.contact__success-heading {
    font-size: 12rem;
    line-height: 14.4rem;
    font-weight: 400;
    margin-bottom: 6rem;

    @include breakpoint(mobile) {
        font-size: 5rem;
        line-height: 1.2;
        margin-bottom: 2rem;
    }
}

.contact__success-content {
    padding-left: var(--left-column-width);
}

.contact__success-message {
    font-size: 3.2rem;
    line-height: 3.8rem;
    letter-spacing: -0.02em;
    margin-bottom: 5rem;

    @include breakpoint(mobile) {
        font-size: 1.8rem;
        line-height: 1.2;
        margin-bottom: 3rem;
    }
}


.contact__success-back-link {
    padding: 2.7rem 7rem;
    letter-spacing: -0.02em;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2.5rem;
    flex-shrink: 0;
    margin-left: auto;
    text-align: center;
    display: inline-flex;
    
    background-color: #fff;
    color: #24282b;
    border-radius: 9rem;
    transition: transform 0.3s;
    text-align: center;
    align-self: flex-start;

    &:link,
    &:visited {
        color: #24282b;
    }

    .no-touch &:hover {
        transform: scale(1.03);
    }

    @include breakpoint(mobile) {
       
        padding: 2rem 4.8rem;
        font-size: 1.5rem;
        line-height: 1.8rem;
        margin-left: 0;
        border-radius: 4rem;
    }
}