.intro {
    color: white;
    position: relative;
    z-index: 1;
    background-color: #13b17c;
    transition: color 0.2s;
    .light-background & {
        color: var(--black);
    }
}

.intro__backgrounds {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.intro__background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(91.34deg, #13b17c 2.06%, #0099cc 100%);
    
    opacity: 0;
    visibility: hidden;

    .intro:not(.initialized) &:first-child,
    &:only-child {
        opacity: 1;
        visibility: visible;
    }
}

.intro__top-info {
    display: flex;
    align-items: center;
    padding-left: var(--left-column-width);
    grid-column: 1 / -1;

    @include breakpoint(mobile) {
        display: none;
    }
}

.intro__content {
    min-height: 100vh;
    display: grid;
    grid-template-columns: var(--left-column-width) minmax(0, 1fr) var(--right-column-width);
    grid-template-rows: var(--header-height) 7.2rem 1fr minmax(36.5rem, auto);
    // padding-top: var(--header-height);
    padding-bottom: 6.5rem;

    &::before {
        content: '';
        height: 1px;
        display: block;
        width: 100%;
        background-color: currentColor;
        grid-column: 2 / -1;
        grid-row: 2 / 3;

        @include breakpoint(mobile) {
            display: none;
        }
    }

    @media screen and (max-width: 1366px) {
        min-height: 100rem;
    }

    @include breakpoint(tablet) {
    }

    @include breakpoint(mobile) {
        min-height: calc(100vh - 8rem);
        display: flex;
        flex-direction: column;
        padding: 0;
        padding-top: var(--header-height);
        position: relative;
        padding-bottom: 3rem;
    }
}

.intro__left-col {
    width: 50%;
    flex-grow: 1;

    @include breakpoint(mobile) {
        width: 100%;
        flex-grow: 0;
    }
}

.intro__right-col {
    width: var(--right-column-width);
    flex-shrink: 0;
    margin-left: 3rem;

    @include breakpoint(mobile) {
        width: 100%;
        flex-shrink: 1;
        margin: 0;
    }
}

.intro__slogan {
    font-size: 2rem;
    line-height: 2.4rem;
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    align-self: flex-start;
    max-width: 38.8rem;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 1.9rem;
        letter-spacing: -0.02em;
        max-width: 24.6rem;
        margin-left: auto;
        margin-bottom: 8.6rem;
    }
}

.intro__services {
    grid-row: 3 / 4;
    grid-column: 3 / -1;
    margin-top: -2rem;

    @include breakpoint(mobile) {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 4rem;
        order: -1;
        padding-top: 2.8rem;
        border-top: 1px solid currentColor;
    }
}

.intro__services-link {
    transition: color 0.2s;
    font-size: 7rem;
    line-height: 1.4;
    letter-spacing: -0.02em;
    font-weight: 400;
    overflow: hidden;
    display: inline-flex;
    position: relative;

    @include breakpoint(mobile) {
        font-size: 4rem;
        line-height: 4.8rem;
        margin-bottom: 1rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &:link,
    &:visited {
        color: inherit;
    }

    &:hover {
        color: rgba(white, 0.8);
    }

    .light-background & {
        &:hover {
            color: rgba(#24282B, 0.8);
        }
    }

    

    &::after {
        content: attr(data-text);
        pointer-events: none;
        top: 100%;
        left: 0;
        width: 100%;
        height: auto;
        position: absolute;
        transition: transform 0.3s, opacity 0.3s;
        opacity: 0;
    }

    .no-touch &:hover {
        &::after {
            transform: translateY(-100%);
            opacity: 1;
        }
        .intro__services-link-inner {
            transform: translateY(-100%);
            opacity: 0;
        }
    }
}

.intro__services-link-inner {
    transition: transform 0.3s, opacity 0.3s;
}

.intro__scroll-down-link {
    flex-shrink: 0;
    align-self: flex-end;
    justify-self: flex-start;
    grid-row: 4 / 5;
    grid-column: 3 / 4;

    &:link,
    &:visited {
        color: white;
    }
    svg {
        width: 2rem;
        height: 2.4rem;
        display: block;
        fill: currentColor;
    }

    &:hover {
        color: rgba(white, 0.8);
    }
}

.intro__slider {
    grid-row: 4 / 5;
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
}

.intro__slider-content {
    max-width: 78rem;
    border-top: 1px solid currentColor;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 2rem;

    @include breakpoint(mobile) {
        max-width: none;
        padding-top: 1.8rem;
    }
}

.intro__slider-fresh-site {
    font-size: 1.5rem;
    line-height: 1.8rem;
    letter-spacing: -0.02em;

    @include breakpoint(mobile) {
        font-size: 1.2rem;
        line-height: 1.4rem;
        letter-spacing: -0.02em;
    }
}

.intro__slider-bottom-row {
    margin-top: auto;
    display: flex;
    align-items: flex-end;

    @include breakpoint(mobile) {
        margin-top: 0;
        flex-direction: column;
        align-items: initial;
    }
}

.intro__slider-descriptions {
    width: 50%;
    flex-grow: 1;
    position: relative;
    overflow: hidden;

    @include breakpoint(mobile) {
        width: 100%;
        flex-grow: 0;
        order: 10;
    }
}

.intro__slider-description {
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: auto;
    display: block;
    z-index: 5;

    &.active {
        z-index: 10;
        position: relative;
    }
}

.intro__slider-description-category {
    font-size: 1.5rem;
    line-height: 1.8rem;
    letter-spacing: -0.02em;
    margin-bottom: 1rem;

    @include breakpoint(mobile) {
        font-size: 1.2rem;
        line-height: 1.4rem;
        letter-spacing: -0.02em;
    }
}

.intro__slider-description-title {
    font-size: 4.4rem;
    line-height: 5.3rem;
    letter-spacing: -0.02em;
    font-weight: 400;

    @include breakpoint(mobile) {
        font-size: 3rem;
        line-height: 3.6rem;
    }
}

.intro__slider-arrows {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-left: 2rem;

    @include breakpoint(mobile) {
        display: none;
    }
}

.intro__slider-arrow {
    width: 4.8rem;
    height: 4.8rem;
    position: relative;
    flex-shrink: 0;
    margin-right: 1rem;
    z-index: 1;
    &::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        width: 4.3rem;
        height: 4.3rem;

        border-radius: 50%;
        background: rgba(white, 0.16);
        transition: transform 0.2s, opacity 0.2s, background-color .2s;
        transform: translate(-50%, -50%) scale(0);
        z-index: -1;

        .light-background & {
            background: rgba(#24282b, 0.1);
        }
    }
    &:last-child {
        margin-right: 0;
    }
    .icon-slider-arrow {
        fill: white;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 0.9rem;
        height: 1.7rem;
        z-index: -1;
        transition: fill .2s;
        .light-background & {
            fill: #24282b;
        }
    }

    .intro.locked & {
        cursor: default;
    }

    .no-touch .intro:not(.locked) &:hover {
        &::before {
            transform: translate(-50%, -50%) scale(1);
        }
    }
}

.intro__slider-arrow-progress {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 5.5rem;
    height: 5.5rem;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0s linear 0.2s;

    .intro__slider-arrow.autoplay & {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.2s, visibility 0s linear 0.2s;
    }

    circle {
        &:nth-child(1) {
            stroke: rgba(white, 0.2);
        }
        &:nth-child(2) {
            stroke-dashoffset: calc(480px - 480px * var(--slider-progress, 0));
            stroke: white;
        }

        .light-background & {
            &:nth-child(1) {
                stroke: rgba(#24282b, 0.3);
            }
            &:nth-child(2) {
                stroke: #24282b;
            }
        }
    }
}

.intro__slider-images {
    @include breakpoint(mobile) {
        position: relative;
        &::after {
            content: '';
            display: block;
            padding-bottom: 70%;
            width: 100%;
        }
    }
}

.intro__slider-image {
    position: absolute;
    max-width: none;
    display: block;
    height: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

img.intro__slider-image--phone {
    bottom: -10rem;
    right: -14rem;
    width: 62rem;

    @include breakpoint(mobile) {
        right: auto;
        left: 0;
        bottom: -7rem;
        width: 44rem;
    }
}

img.intro__slider-image--expert {
    bottom: -2rem;
    right: 0rem;
    width: 60rem;

    @include breakpoint(mobile) {
        width: 42rem;
        right: auto;
        left: 1rem;
        bottom: -3rem;
    }
}

img.intro__slider-image--mycorner {
    bottom: 9rem;
    right: -6px;
    width: 45rem;

    @include breakpoint(mobile) {
        width: 42rem;
        right: auto;
        left: 1rem;
        bottom: -3rem;
    }
}

img.intro__slider-image--icl {
    bottom: 5rem;
    right: -6px;
    width: 45rem;

    @include breakpoint(mobile) {
        width: 42rem;
        right: auto;
        left: 1rem;
        bottom: -3rem;
    }
}

.intro__slider-pagination {
    display: none;

    @include breakpoint(mobile) {
        display: flex;
        order: 20;
        margin-top: 2.5rem;
    }
}

.intro__slider-pagination-bullet {
    width: 1rem;
    flex-grow: 1;
    height: 2px;
    background: rgba(white, 0.4);
    margin-right: 0.6rem;
    position: relative;

    .light-background & {
        background: rgba(#24282B, 0.4);
        
    }
    &:last-child {
        margin-right: 0;
    }
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: white;
        transform-origin: left center;
        transform: scaleX(var(--slider-progress, 0));

        .light-background & {
            background: #24282B;
        }
    }
}

.intro__about-link {
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-weight: 400;
    transition: color 0.2s;
    justify-self: flex-start;
    transition: color 0.2s;
    overflow: hidden;
    position: relative;
    display: inline-flex;
    letter-spacing: 0.02em;
    transition: color 0.2s, opacity 0.2s;

    @include breakpoint(small-tablet) {
        opacity: 0;
        visibility: hidden;
    }

    @include breakpoint(mobile) {
        display: none;
    }
    &:link,
    &:visited {
        color: currentColor;
    }

    &::after {
        content: attr(data-text);
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        pointer-events: none;
        transition: transform 0.2s, opacity 0.2s;
    }

    .no-touch &:hover {
        opacity: 0.8;
        .intro__about-link-inner {
            transform: translateY(-100%);
        }
        &::after {
            transform: translateY(-100%);
        }
    }
}

.intro__about-link-inner {
    transition: transform 0.2s, opacity 0.2s;
}
