.page-header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    color: white;
    z-index: 700;
    transition: background-color 0.2s, box-shadow 0.2s, color 0.2s;
    pointer-events: none;

    .light-background & {
        color: #24282B;
    }
    &.fixed {
        // background-color: #24282B;
        box-shadow: 0 0 1rem rgba(#24282b, 0.2);
        color: #24282b;
        background-color: white;

        .menu-open & {
            background: #24282b;
            color: white;
        }
    }
}

.menu-open .midnightHeader {
    color: white !important;
}

.page-header__row {
    display: grid;
    align-items: center;
    grid-template-columns: var(--left-column-width) minmax(0, 1fr) var(--right-column-width);
    min-height: var(--header-height);

    @include breakpoint(mobile) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.page-header__logo-link {
    transition: none;
    pointer-events: initial;
    &>svg {
        fill: #fff;
    }
}

.page-header__logo-image {
    width: 10rem;

    @include breakpoint(mobile) {
        width: 8.4rem;
        position: relative;
        bottom: -0.2rem;
    }
}

.page-header__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-column: 3 / 4;
}

.page-header__button {
    margin-right: auto;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    cursor: pointer;
    pointer-events: initial;
    @include breakpoint(tablet) {
        width: 40px;
        height: 40px;
    }

    @include breakpoint(mobile) {
        width: 26px;
        height: 26px;
    }

    .no-touch:not(.menu-open) &.hovered {
        .page-header__button-content span {
            transform: scaleX(0.5);
            transition: transform 0.2s ease-out;
        }
    }
}

.page-header__button-content {
    display: flex;
    flex-direction: column;

    & > span {
        width: 60px;
        height: 2px;
        margin-bottom: 10px;
        transition: transform 0.2s;
        display: block;
        background-color: currentColor;

        @include breakpoint(tablet) {
            margin-bottom: 6px;
            width: 40px;
        }

        @include breakpoint(mobile) {
            width: 26px;
            height: 2px;
            margin-bottom: 4px;
        }
        &:last-child {
            margin-bottom: 0;
        }

        .menu-open & {
            &:nth-child(1) {
                transform: translateY(6px) rotate(45deg);
            }
            &:nth-child(2) {
                transform: translateY(-6px) rotate(-45deg);
            }

            @include breakpoint(tablet) {
                &:nth-child(1) {
                    transform: translateY(4px) rotate(45deg);
                }
                &:nth-child(2) {
                    transform: translateY(-4px) rotate(-45deg);
                }
            }

            @include breakpoint(mobile) {
                &:nth-child(1) {
                    transform: translateY(3px) rotate(45deg);
                }
                &:nth-child(2) {
                    transform: translateY(-3px) rotate(-45deg);
                }
            }
        }
    }
}

.page-header__contact-link {
    font-size: 1.5rem;
    line-height: 1.8rem;
    letter-spacing: 0.02em;
    flex-shrink: 0;
    transition: color 0.2s, opacity 0.2s, transform 0.2s;
    display: inline-flex;
    position: relative;
    pointer-events: initial;
    &:link,
    &:visited {
        color: currentColor;
    }

    &::before {
        content: '';
        position: absolute;
        top: -0.9rem;
        bottom: -0.9rem;
        right: -1.5rem;
        left: -1.5rem;
        z-index: -1;
        background: #24282b;
        border-radius: 4rem;
        transform: scale(0);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s, visibility 0s linear 0.2s, transform 0.2s, background-color 0.2s;

        @include breakpoint(mobile) {
            display: none;
        }
    }

    .dark & {
        color: #586267;
    }

    &.disabled  {
        pointer-events: none;
        @include breakpoint(mobile) {
            display: none;
        }
    }

    .no-touch:not(.contact-link-expanded) &:not(.disabled):hover {
        opacity: 0.8;
    }

    @include breakpoint(mobile) {
        position: fixed;
        right: var(--content-padding);
        bottom: 3rem;
        z-index: 60;
        background: #24282b;
        border-radius: 4rem;
        padding: 0.9rem 1.5rem;
        transition: opacity 0.3s, visibility 0.3s;
        color: white;

        &:link,
        &:visited {
            color: white;
        }

        &.scrolled-to-the-bottom {
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s, visibility 0s linear 0.3s;
        }
        // display: none;
    }

    .contact-link-expanded &:not(.disabled) {
        @include breakpointMF(small-tablet) {
            overflow: visible;
            transform: translate(-1.5rem, 0.9rem);
            color: white !important;

           
            &::after {
                display: none;
            }
            &::before {
                opacity: 1;
                visibility: inherit;
                transform: scale(1);
                transition: opacity 0.2s ease 0.1s, transform 0.2s ease 0.1s, visibility 0.2s ease 0.1s, background-color 0.2s;
            }
        }
    }

    .dark.contact-link-expanded &:not(.disabled) {
        @include breakpointMF(small-tablet) {
            color: #24282b !important;
            &::before {
                background-color: white;
            }
        }
        
    }
}

.page-header__contact-link-inner {
    transition: transform 0.2s, opacity 0.2s;
}

.midnightHeader.dark {
    color: #24282b;
}
